.root {
  margin-top: 2rem;
}

.income {
  color: green;
}
.expenses {
  color: red;
}
.list {
  display: flex;
  gap: rem(16px);
  flex-direction: column;
}
.tabs {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
